<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Free Library System">
    <meta name="keywords" content="Library System, Book System">
    <meta name="author" content="Codeblogger">
    <title>Register</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>
<style>
    #insertion_section {
        background: rgba(0, 0, 0, .75);
        border-radius: 7.5px;
        padding: 15px 10px 15px 10px;
        width: 100%;

        .form-group {
            width: 90%;
            margin-left: 10%;

            input,
            label,
            select {
                width: 90%;
            }

            input,select {
                opacity: .20;
                transition: .5s;
                outline: none;
            }

            button {
                margin-left: -5%;
            }

        }

    }

    body {
        padding: 0;
        margin: 0;
        height: 100vh;
    }

    #one-page {
        height: 100%;
        background: #272727ad;
        background-size: auto;
        -webkit-background-size: auto;
        -moz-background-size: auto;
        -o-background-size: auto;

    }

    .container {
        position: relative;
        top: 15%;
        left: 15%;
    }

    h1 {
        font-size: 50px;
    }

    @media (max-width: 976px) {
        #one-page {
            height: 150%;
            background:#272727ad;
            background-size: auto;
            -webkit-background-size: auto;
            -moz-background-size: auto;
            -o-background-size: auto;
        }
    }
</style>

<body>

    <section id="one-page">
        <div class="container">
            <!-- Title -->
            <div class="row">
                <h1 class="text-light">LoginPage</h1>
            </div>

            <div class="row mt-4">
                <!-- insertion section -->
                <div class="col-lg-5" id="insertion_section">
                    <form action="/registerUser" method="post" class="form-group justify-content-center">
                        
                        <div class="row" id="publisher-section">
                            <label class="text-light">Username</label>
                            <input name="name" class="form-control" id="publisherName">
                        </div>
                        <div class="row" id="publisher-section">
                            <label class="text-light">Email</label>
                            <input name="email" class="form-control" id="publisherName">
                        </div>
                        <div class="row" id="publisher-section">
                            <label class="text-light">Password</label>
                            <input name="password" class="form-control" id="publisherName">
                        </div>
                        <div class="row" id="publisher-section">
                            <label class="text-light">Confirm Password</label>
                            <input name="conpassword" class="form-control" id="publisherName">
                        </div>
                        <div class="add-button mt-4">
                            <button type="submit" class="btn btn-success btn-block" id="add">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>
<script>
    $(document).ready(function () {
        $("input").focus(function () {
            $(this).css("opacity", 1)
        })
        $("input").blur(function () {
            $(this).css("opacity", .2)
        })
        $(".close").click(function () {
            $(this).parents(".tab").hide(500)
        })
    })
</script>

</html>